{% extends 'dashboard/base.html' %}

{% block content %}
<div style="display: flex; justify-content: center;">
    <div class="container" style="width: 1500px; margin-left: 500px;">
        <h1>Maxsulot nomi: {{ product.name }}</h1>
        <p><strong>Kategoriya:</strong> {{ product.category }}</p>
        <p><strong>Narx:</strong> {{ product.price }}</p>
        <p><strong>Mahsulot haqida:</strong>{{product.description}}</p>
        <p><strong>Miqdor:</strong> {{ product.quantity }}</p><br>
        <p><strong>Rasmi:</strong><img width="300px" height="400px"  src="{{ product.image.url }}" alt="{{ product.name }} Banner" class="img-fluid"></p><br>
        <p><strong>Qr kod:</strong>
            {% if product.qr_code %}
            <img width="200px" height="250px" src="{{ product.qr_code.url }}" alt="{{ product.name }} QR Code" class="img-fluid">
            {% endif %}
        </p>
    </div>
</div>

    <div class="product-info">
        <div class="product-actions p-b-15">
            <a class="btn btn-danger" href="{% url 'delete_product' product.id %}" class="delete-link">Delete</a>
        </div>
        <div class="product-actions">
            <a class="btn btn-primary" href="{% url 'update_product' product.id %}">Update</a>
        </div>
    </div>
{% endblock %}

