{% extends 'dashboard/base.html' %}

{% block content %}
<div style="display: flex; justify-content: center;">
    <div style="width: 700px; display: flex; justify-content: end;">

        <div class="container">
            <h2>Kategoriyalar ro`yxati</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nom</th>
                        <th>Harakatlar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for category in categories %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ category.name }}</td>
                        <td>
                            <div class="category-actions">
                                <a class="btn btn-danger delete-link" href="{% url 'category_delete' category.id %}">O'chirish</a>
                            </div><br>
                            <div class="category-actions">
                                <a class="btn btn-primary" style="margin-left: 100px;" href="{% url 'category_update' category.id %}">Tahrirlash</a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                <div>
                    <a style="margin-left: 500px;" href="{% url 'category_create' %}" class="btn btn-success add-link">Kategoriya qo'shish +</a>
                </div>
            </table>
        </div>
    </div>
</div>

{% endblock %}
