{% extends 'dashboard/base.html' %}

{% block content %}
<div style="display: flex; justify-content: center;">
    <div style="width: 1000px; margin-left: 350px;">
        <h2>Update Product</h2>
            
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <label for="name">Name:</label>
            <input type="text" id="name" name="name"><br><br>
            <label for="category">Category:</label>
            <select id="category" name="category">
                {% for category in categories %}
                <option value="{{ category.id }}">{{ category.name }}</option>
                {% endfor %}
            </select><br><br>
            <label for="price">Price:</label>
            <input type="number" id="price" name="price"><br><br>
            <label for="quantity">Quantity:</label>
            <input type="number" id="quantity" name="quantity"><br><br>
            <label for="banner_img">Banner Image:</label>
            <input type="file" id="banner_img" name="banner_img"><br><br>
            <button type="submit">Save</button>
        </form>
    </div>
</div>
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
        padding-top: 100px;
    }
    header {
        background-color: #333;
        color: #fff;
        padding: 20px 0;
        text-align: center;
        margin-bottom: 20px;
    }
    h1 {
        margin: 0;
        color: white;
    }
    form {
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        padding: 20px;
        margin-bottom: 20px;
    }
    form label {
        display: block;
        margin-bottom: 10px;
        font-weight: bold;
    }
    form input[type="text"],
    form input[type="number"],
    form select {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
    }
    form button {
        background-color: #333;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    form button:hover {
        background-color: #555;
    }
</style>
{% endblock %}
